
.nav-container{
    font-family: "Archivo Black", sans-serif;
    overflow: hidden;
    position: fixed;
    display: flex;
   
    z-index: 1000;
    font-weight: 400;
    font-style: normal;
    background-color:rgb(59, 59, 59);
    width: 100%;
    height: 60px;
    box-shadow: 0px 3px 7px rgb(39, 38, 38) ;
    align-content: center;
    padding:0px ;
}

.app-logo{
    transform: scale(1.2);
    margin-left: 100px;
    width: 50px;
    object-fit: cover;
}
.right-side-navcontent-container{
   
    display: flex;
    margin-left: auto;
    width: 300px;
    justify-items: center;
}
.SyncButton{
    width: 70px;
    background-color: transparent;
    cursor: pointer;
    border: none;
}
.SyncButton>svg{
    transform: scale(1.5);
    color: white;
}
.OP-dotted-indicator{
    transform: scale(0.6);
}
.menu-icon{
    position: absolute;
    height: fit-content;
    width: fit-content;
    align-self: center;
    margin-left: 50px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.menu-icon>svg{
    transform: scale(1.5);
    color: aliceblue;
}
@media(max-width:900px) {

    .logo{
        transform: scale(0.7);
    }
    .menu-icon{
        margin-left: 30px;
    }
    .nav-container{
        height: 50px;
    }
    .menu-icon>svg{
        height: 19px;
        
    }
    .right-side-navcontent-container{
        margin-right: 10px;
        width: 100px;
    }
    .SyncButton>svg{
        height: 18px;
    }
    .dot-shape-holder{
        height: 38px;
    }
}