*{
    margin: 0;
}


.notes-container{
    /* background-color: rgb(255, 255, 255); */
    min-width: 16vw;
    width: 220px;
    display: inline-block;
    
    border-radius: 5px;
    /* padding: 12px; */
    /* margin: 20px; */
    padding-bottom:35px ;
    height: fit-content;
    margin-bottom: 10px;
    z-index: 1;
    /* overflow: hidden; */
    /* background-image: url("https://www.shutterstock.com/shutterstock/videos/3412797893/thumb/1.jpg?ip=x480"); */
    
    position:relative;
    cursor: pointer;
    transition: 0.4s ease;
}
.notes-container:hover{
    /* transform: scale(1.1);    using this with framer whileHover property */ 
    box-shadow: 0px 2px 15px rgb(15, 15, 15) ;
    transition: 0.4s ease;
}
.Note-heading{
    color: rgb(44, 43, 43);
    /* background-color: red; */
    overflow: hidden;
}
.top{
    min-height: 80px;
    max-height: fit-content;
    padding: 5px;
    margin: 0;
}
.bottom{
   
    max-height: 460px;
    overflow: hidden;
    line-height: 26px;
}

/* Target the scrollbar area */
.bottom::-webkit-scrollbar {
  height: 100%; /* Height of horizontal scrollbar */
  width: 8px;

}

/* Style the background track */
.bottom::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
  
}

/* Style the draggable thumb bar */
.bottom::-webkit-scrollbar-thumb {
  background: #585757;
  border-radius: 10px;
}

/* Hover effect on the draggable bar */
.bottom::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.Delete-button{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: none;
    border: none;
    /* position: absolute; */
    bottom: 5px;
    left: 75%;
    grid-column: 8;
    font-size:20px;
    transition:0.6s ease;
}
.Delete-button:hover{
    transform: scale(1.1);
    /* background-color: rgb(236, 47, 47); */
    transition:0.6s ease;
}
.Edit-button{
    background:none;
    border: none;
    transition: 0.4s ease;
}
.Edit-button:hover{
    transform: scale(1.1);
    transition:0.4s ease;
}
.pin-button{
    position: absolute;
    background:none;
    border: none;
    top:15px;
    right: 10px;
    transition: 0.4s ease;

}
.pin-button:hover{
     transform: scale(1.1);
    transition:0.4s ease;

}
.active-note{
  position: fixed; 
  top:10%;
  left: 37%;
  
  z-index: 2;
  width: 500px;
  height: 600px;
  overflow: hidden;
  background: white;
  border-radius: 10px;
  transition: 0.4s ease;
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);

}
.closepreviewpage{
    
    bottom:5px;
    left: 90%;
    background: none;
    border: none;
    width: fit-content;
    height: 40px;
    width: 40px;
    transition: 0.6s ease;
    grid-column: 9;

}
.closepreviewpage:hover{
transform: scale(1.2);
transition: 0.6s ease;
}
.inside-notes-container{
    /* background-color: rgb(133, 69, 69); */
    /* border-bottom: 2px solid rgb(116, 115, 115); */
    padding: 0px 20px 4px 20px;
    height: 90%;
    z-index:0;

}
.note-buttons-grid{
    /* background-color: red; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-flow: column;
    align-items: center;
    position: absolute;
    /* opacity: 0%; */
    transition: 0.7s;
    width: 100%;
    bottom: 0;
    
}
.note-color{
   background: none;
    border: none;
    grid-column: 1;
    transition: 0.5s ease;

}
.note-color:hover{
    transform: scale(1.1);
    transition: 0.5s ease;
}

.note-image{
    position:absolute ;
    object-fit: cover;
    z-index: -1;
    height: 100%;
    width: 100%;
    transition: 0.4s;

}



/* @media(max-width:1300px){
    .notes-container{
        min-width: 20vw;
    
    }
}

@media(max-width:1100px){
    .notes-container{
        min-width:25vw;
        
    }
} */
 @media(max-width:630px){
    .notes-container{
        min-width:35vw;
    }
 }

 .select-div[type="checkbox"]{
       -ms-transform: scale(1.4); /* IE */
  -moz-transform: scale(1.4); /* FF */
  -webkit-transform: scale(1.4); /* Safari and Chrome */
  -o-transform: scale(1.4); /* Opera */
  transform: scale(1.4);
  padding: 10px;
  accent-color:#df0909;
  margin-left: 10px;
  z-index: 100;
  position: absolute;
  top: -5px;
  right: -5px;
 }

  @media(max-width:470px){
  .notes-container{
    margin-left: 15px;
  }
 }
 @media(max-width:590px){
    .notes-container{
        min-width: 88%;
    }
 }
 /* @media(max-width:429px){
    .notes-container.width{

    }
 } */
