.side-bar{
    position: fixed;
    padding-top: 50px;
    height: 700px;
    width:180px;
    height: 100vh;
    transition: 0.2s ease;
    
}
/* .side-bar:hover{
    transform: translateX(0);
    background-color: rgb(65, 64, 64);
    box-shadow: 3px 0px 15px  ;
     transition: 0.2s ease;
} */
 .Menu-close-icon{
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
 }
 .Menu-close-icon>svg{
    transform: scale(1.8);
    color: white;
 }
.side-bar-listelements{
    list-style: none;
    height: 300px;
    margin-top:50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0;
}

.list-contents{
    height: 70px;
    padding-left: 40px;
    padding-right: 20px;
    align-items: center;
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    transition: 0.6s ease;
    
}
.list-contents:hover{
    background-color: aliceblue;
    transition: 0.6s ease;
}
@media(max-width:400px){
    .side-bar{
        left:-10px
    }
    .list-contents{
        height: 50px;
        color: white;
    }
}