.updatebox-container{
    position: fixed;
    background-color: rgb(255, 255, 255);
    height: 600px;
    width: 500px;
    top:50%;
    left:50%;
    transform: translate(-50% , -50%);
    padding: 20px 20px 0px 20px;
    border-radius: 15px;
    border: 2px solid rgb(218, 211, 78);
    display: flex;
    flex-direction: column;
    z-index: 1000;

}
.update-title{
    height: 70px;
    margin-bottom: 20px;
    background:none;
    padding-left: 20px;
    font-size: 30px;
    border: none;
    border-bottom: 2px solid black;

}
.update-text-area{
    max-height: 400px;
    min-height: 400px;
    line-height: 26px;
    overflow: auto;
    border-radius: 20px;
    padding: 20px;
    font-size: 18px;
    margin-bottom: 20px;
}
.update-button{
    width: 150px;
    height: 50px;
    border-radius: 30px;
    align-self: center;
    transition: 0.5s ease;
}
.update-button:hover{
    background-color: rgb(19, 213, 243);
    font-size: 20px;
    transition: 0.5s ease;
}
.updatebox-editor{
    display: flex;
    width: 100%;
    background-color: rgba(229, 206, 38, 0.84);
}